body {
  /* background: url(../img/gamingbg.jpg); */

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.form {
  display: flex;
  flex-direction: column;
  height: 323px;
  width: 400px;
  border: 1px solid black;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.2rem;
  opacity: 1;
}
form input {
  width: 75%;
  outline: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}
button {
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 70%;
  color: #fff;
  cursor: pointer;
  background-color: red;
}
button:hover {
  background: rgba(206, 89, 34, 0.877);
}
input:focus {
  border: 1px solid rgb(192, 192, 192);
}
.member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #fff;
}
.member a {
  color: #3207f1;
  text-decoration: none;
}

.recover {
  margin-left: 1px;
  font-size: 0.8rem;
  margin: 0.3rem 1.4rem 0 255px;
}
.recover a {
  text-decoration: none;
  color: #3207f1;
}
